.App {
  text-align: center;
}

.header{
  text-align: center;
  color: black;
}

.form-fields{
  text-align: center;
  color: black;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 250px;
  padding: 20px;
  border-radius: 50px;
}

.form-fields > input{
  border-radius: 40px;
  
}

.submit-input{
  border-radius: 40px;
  background-color: red;
  box-shadow: inset;
}